<app-page-template [pageTitle]="title" [pageSubtitle]="subtitle">
  <div class="columns">
    <div class="column is-two-thirds">
      My name is Christopher Myers.
      <br /><br />
      I am a student, software developer, reader, explorer, (hobbyist) musician, educator, and dog lover. I am currently studying cognitive science, computer science, and design at the University of California, San Diego. I have developed energy data analytics platforms at SourceOne, Inc, new features for crowdfunding creators at <a href="https://backerkit.com/">Backerkit</a>, and a family-focused storytelling iOS app at <a href="https://zoog.ai/">Zoog</a>
      <br /><br />
      If you've got time, feel free to check out what I've put up on this site.
    </div>
    <div class="column">
      <div class="hard-center is-3by2">
        <img src="assets/picOfMe.JPG" class="rounded-image"/>
      </div>
    </div>
  </div>
</app-page-template>
